@font-face {
    font-family: 'MiFuenteLocal';
    src: url('utils/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteTitulos';
    src: url('utils/fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteTitulosMenu';
    src: url('utils/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteCita';
    src: url('utils/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
:root {
    --fuente-principal: 'MiFuenteLocal', sans-serif;
    --fuente-titulos: 'MiFuenteTitulos', sans-serif;
    --fuente-cita: 'MiFuenteCita', sans-serif;
    --color-arima: #2a2522; 
    --color-arima-suave: rgba(42, 37, 34, 0.1);
}
body {
    font-family: var(--fuente-principal);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header img {
    width: 80px;
    height: auto;
    margin-left: 20px;
}
img {
    max-width: 100%;
    height: auto;
    margin: 2px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    gap: 30px;
    border-bottom: solid 1px #cccccc6c;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 25px;
    gap: 70px;
    align-items: center;
}
.nav-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}
.nav-item a {
    color: #333;
    text-decoration: none;
    position: relative;
}
.nav-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #333;
    border-bottom: 1px solid #333;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-item a:hover::after {
    transform: scaleX(1);
}
main {
    padding: 20px 50px;
    flex: 1; 
    padding: 20px 50px;
}
#menu {
    margin: 50px;
}
h2 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.inicio-titulo {
    font-size: 36px;
    color: #333;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
#reservas {
    display: flex;
    font-size: 24px;
    color: #333;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease;
    border: solid 2px #333;
    height: 150px;
    align-items: center;
}
.btn-reserva {
    background-color: var(--color-arima-suave) !important; 
    color: var(--color-arima) !important;
    padding: 10px 20px;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    transition: 0.3s;
}

/* Efecto al pasar el ratón */
.btn-reserva:hover {
    background-color:var(--color-arima) !important;
    color: #fff !important;
}

/* Efecto al hacer clic */
.btn-reserva:active {
    transform: scale(0.95);    /* Se hunde un poco */
}
.menu-titulo {
    color: #333;
    font-size: 40px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
span {
    color: #333;
    font-size: 40px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-align: center;
}
.plato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 5px;
}
.img-plato {
    max-width: 100%;
    box-shadow: 2px 2px 15px rgba(87, 87, 87, 0.719);
    margin: 10px 0 20px 0 ;
}
.titulo {
    font-family: var(--fuente-titulos);
    font-size: 20px;
    color: #555;
    margin: 0;
    padding: 15px;
}
.precio {
    white-space: nowrap; 
    flex-shrink: 0;     
    margin-left: 15px;  
}
.texto-frase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    font-family: var(--fuente-cita);
    font-size: 18px;
    color: #555;
    font-style: italic;
    text-align: left;
    margin-top: 30px;
}
.parrafo-contenedor {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    padding: 40px;
    border-bottom: 1px solid #e0e0e0;
}
.grid-menu {
    display: grid;
    --columnas: 1fr 1fr;
    --gap-vertical: 20px;
    --gap-horizontal: 40px;
    --margen-inferior: 40px;

    grid-template-columns: var(--columnas);
    gap: var(--gap-vertical) var(--gap-horizontal);
    width: 100%;
    margin-bottom: var(--margen-inferior);
}
