@font-face {
    font-family: 'MiFuenteLocal';
    src: url('../utils/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteTitulos';
    src: url('../utils/fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteTitulosMenu';
    src: url('../utils/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteCita';
    src: url('../utils/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
:root {
    --fuente-principal: 'MiFuenteLocal', sans-serif;
    --fuente-titulos: 'MiFuenteTitulos', sans-serif;
    --fuente-cita: 'MiFuenteCita', sans-serif;
    --color-arima: #2a2522; 
    --color-arima-suave: rgba(42, 37, 34, 0.1);
}
body {
    font-family: var(--fuente-principal);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    gap: 30px;
    border-bottom: solid 1px #cccccc6c;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 25px;
    gap: 70px;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-item a {
    color: #333;
    text-decoration: none;
    position: relative;
}

.nav-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #333;
    border-bottom: 1px solid #333;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item a:hover::after {
    transform: scaleX(1);
}

main {
    padding: 20px 50px;
    flex: 1; 
}

#menu {
    margin: 50px;
}

h2 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.inicio-titulo {
    font-size: 36px;
    color: #333;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}

.articulos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;                
    margin: 40px 0;
    padding: 0 50px;
}

.articulos-contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
}

.articulos-contenedor p {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    line-height: 1.6;
    color: #555;
}

.img-servicios {
    width: 100%;
    height: 200px;       
    object-fit: cover;   
    border-radius: 6px;  
    margin-bottom: 20px;  
    transition: transform 0.3s ease;
}
.img-servicios:hover {
    transform: scale(1.02); 
}

.articulo-titulo {
    margin-top: 10px;
    font-size: 22px;
}
.articulo-subtitulo {
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
}

#reservas {
    display: flex;
    font-size: 24px;
    color: #333;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease;
    border: solid 2px #333;
    height: 150px;
    align-items: center;
}

.btn-reserva {
    background-color: var(--color-arima-suave) !important; 
    color: var(--color-arima) !important;
    padding: 10px 20px;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-reserva:hover {
    background-color:var(--color-arima) !important;
    color: #fff !important;
}

.btn-reserva:active {
    transform: scale(0.95);
}

.menu-titulo {
    color: #333;
    font-size: 40px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.plato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 5px;
}

.img-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-plato {
    width: 100%;
    max-width: 1000px;
    height: auto;
    object-fit: cover;
    box-shadow: 2px 2px 15px rgba(87, 87, 87, 0.719);
    margin: 10px 0 20px 0 ;
}

.img-plato:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.titulo {
    font-family: var(--fuente-titulos);
    font-size: 20px;
    color: #555;
    margin: 0;
    padding: 15px;
}

.precio {
    white-space: nowrap; 
    flex-shrink: 0;     
    margin-left: 15px;  
}

.parrafo-contenedor {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    padding: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.menu-category {
    width: 100%;
    margin-bottom: 50px;
}

.grid-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .grid-menu, .articulos-grid {
        grid-template-columns: 1fr !important;
    }
    main {
        padding: 20px;
    }
}