* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: var(--color-arima);
}

.container {
    max-width: 600px;
    margin: 140px auto;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: #2a252233 2px 4px 5px;
    
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

legend {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-arima);
}

label {
    font-weight: 600;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--color-arima);
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #1a252f;
}

footer {
    background-color: transparent;
    color: var(--color-arima);
    padding: 60px 5% 30px 5%;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #eee;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-section h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-section p, .footer-section a {
    color: #666;
    text-decoration: none;
}

.map-container iframe {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    margin-top: 15px;
    filter: grayscale(0.2);
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: center;;
    font-size: 24px;
}

.social-links a {
    color: var(--color-arima);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
    color: #999;
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
    .navbar {
        flex-direction: column;
        gap: 20px;
    }
}

:root {
    --color-arima: #2a2522; 
    --color-arima-suave: rgba(42, 37, 34, 0.1);
}
